#mountNode {
    color: #333;
  }
  
  .question {
      border: thin solid #888;
    padding: 2rem;
    margin-bottom: 5px;
    display: flex;
  /*   justify-content: center; */
  }
  
  textarea {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  
  .submit {
    height: 30px;
    width: 100%;
  }
  
  .choices {
    width: 50%;
    font-size: 10px;
  }
  
  h2 {
    text-align: center;
  }