.AnswerArea {
  border: thin solid #888;
  padding: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-top: 3rem;
}

.PlayGame {
    border: thin solid #888;
    padding: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

.Answer {
    font-size: 23px;
    width: 20%;
}

.score {
    font-size: 20px;
    justify-content: left;
}

.timer {
    font-size: 20px;
    justify-content: right;
    text-align: right;
}

.Title {
    font-size: 75px;
    text-align: center;
    margin-bottom: 2rem;
}

.LIGHT {
    color: black;
    background-color: white;
    margin-bottom: 80px;
}

.DARK {
    color: white;
    background-color: black;
    margin-bottom: 80px;
}


.NavDark {
    color: white;
}

.NavLight {
    color: rgb(93, 90, 90);
}

.center {
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.usersProfile {
    padding-bottom: 30%;
}

.profile {
    width: 100%;
    height: 100%;
}

.userDetails {
    font-weight: 200;
    text-align: center;
    padding-bottom: 6%;
}

.pic {
    width: 80px;
    height: 82px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.settingsList {
    color: black;
    background-color: white;
}
